<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="basic">

        <field name="forcecache"
			type="radio"
			default="0"
			label="FORCE_CACHE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

        <field name="adminenabled"
			type="radio"
			default="0"
			label="ENABLED_ADMIN"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

        <field name="editenabled"
			type="radio"
			default="0"
			label="ENABLED_EDIT"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

        <field name="contentPlugin"
			type="radio"
			default="0"
			label="ENABLED_CONTENT"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="disabled"
			type="textarea"
            rows="10"
            cols="50"
			label="DISABLED"
			description="DISABLED_DESC" />
    </fieldset>
</config>
