/* footer display */
div.hikashop_footer{
	padding-top : 20px;
	clear:both;
	padding-bottom : 20px;
}

/* category display */
div.hikashop_category_image{
	clear:both;
}
img.hikashop_category_image {
    margin: 4px;
}
table.hikashop_subcategories_table tr td{
	text-align:center;
}
#hikashop_subcategories div {
	text-align:center;
}
.hikashop_subcategories, .hikashop_products{clear:both;}
.hikashop_category_list{
    margin:0px;
}
.hikashop_category_left_part{
	text-align:center;
}
.hikashop_category_right_part{
	padding-left:1px;
}

.hikashop_category_list_item, .hikashop_product_list_item{
	float:left;
}
.hikashop_product_list, .hikashop_category_list{
	display: inline-block;
	list-style-type: none;
	text-align: left;
}


.hikashop_subcontainer{
	padding-top:10px;
	padding-bottom:10px;
}

/* product listing */
.hikashop_product_item_left_part{
	text-align:center;
}
.hikashop_product_item_right_part {
	margin-right: 20px;
	margin-left: 20px;
}
.hikashop_product_image{
	padding-bottom: 2px;
}

div.hikashop_subcontainer_border{
	border: 1px solid;
}

/* different parts of the show of a product */
.hikashop_product_top_part{
	width:100%;
}
.hikashop_product_left_part{
	text-align:center;
	float:left;
	width:50%;
}
.hikashop_product_main_image_thumb{
	margin-bottom:5px;
}

.hikashop_product_right_part{
	float:left;
	padding-left:1px;
}
.hikashop_product_bottom_part{
	clear:both;
	width:100%;
}
.hikashop_product_characteristic_chooser{
	text-align:center;
}
.hikashop_product_variant_out_of_stock{
	display:none;
}
.hikashop_product_variant_out_of_stock_span{
	background-image:url(../images/delete2.png);
	background-repeat:no-repeat;
	background-position: center;
	height: 16px;
	display: block;
}

.hikashop_product_quantity_field{
	width:25px;
}
a.hikashop_product_quantity_field_change:hover{
	text-decoration: none;
}
.hikashop_no_border tr, .hikashop_no_border td,
#hikashop_address_listing tr, #hikashop_address_listing td, #hikashop_address_form_span_iframe tr,
#hikashop_address_form_span_iframe td, #hikashop_product_quantity_main tr,#hikashop_product_quantity_main td,
#hikashop_checkout_page tr,#hikashop_checkout_page td, #hikashop_affiliate_main tr, #hikashop_affiliate_main td{
	border:0px solid #DDDDDD;
}
#hikashop_order_listing fieldset,#hikashop_address_listing fieldset, #hikashop_affiliate_main fieldset{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}

div#hikashop_product_left_part div{
	text-align:center;
}
div#hikashop_product_left_part img.hikashop_child_image{
	margin : 2px;
	height:25px;
}
.hikashop_product_code_main{
	display:none;
}
.hikashop_product_weight_main{
	display:none;
}
span.hikashop_product_name{
	text-align: center;
	display:block;
	margin-bottom:5px;
}

/* prices display */
span.hikashop_product_price_before_discount{
	text-decoration:line-through;
	white-space:nowrap;
}
span.hikashop_product_price{
	color:#990000;
	white-space:nowrap;
}
span.hikashop_product_discount{
	white-space:nowrap;
}
span.hikashop_product_price_full{
	text-align: center;
	font-weight:bold;
	display:block;
	margin-bottom:5px;
}
#hikashop_checkout_page .hikashop_product_price_full{
	text-align: left;
}
.hikashop_cart_product_quantity_value .hikashop_product_quantity_field,.hikashop_cart_product_quantity_value .hikashop_cart_product_quantity_refresh,.hikashop_cart_product_quantity_value .hikashop_cart_product_quantity_delete{
	float:left;
}
span.hikashop_checkout_cart_coupon{
	font-weight:bold;
}
span.hikashop_checkout_cart_shipping{
	font-weight:bold;
}
span.hikashop_checkout_cart_taxes{
	font-weight:bold;
}
span.hikashop_checkout_cart_final_total{
	font-weight:bold;
	color:#990000;
}

/* pagination */
.pagenav{
	cursor:pointer;
}
.list-footer li{
	list-style-type:none;
	display: inline;
}

/* product name in the cart layout of the checkout process */
#hikashop_cart .hikashop_cart_product_name a{
	font-weight:bold;
}
.hikashop_cart_product_name_value{
	width:40%;
}

/* titles for cart display */
.hikashop_cart_title{
	font-weight: bold;
}

.hikashop_small_cart_checkout_link,.hikashop_small_cart_clean_link,.hikashop_small_cart_total_title span,.hikashop_small_cart_total_title span span,.hikashop_small_cart_total_title span span span {
    display:inline-block;
    zoom:1;
    *display:inline;
    margin-bottom:0px;
}

/* next button of the checkout process */
#hikashop_checkout_next_button{
	float:right;
}
#hikashop_checkout_shopping_button{
	float:left;
}
.hikashop_submodules{
	padding-top:30px;
}


/* cart buttons */
a.hikashop_cart_button, a.hikashop_cart_button:hover{
	background-image:url(../images/button.jpg);
	border:1px solid #356AA0;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:5px 8px;
	text-decoration:none;
	cursor:pointer;
	float:left;
	white-space:nowrap;
}
a.hikashop_cart_button:hover{
	outline: 2px solid #92C1FF;
}
#hikashop_order_listing a.hikashop_cart_button, #hikashop_order_listing a.hikashop_cart_button:hover,
#hikashop_checkout_login a.hikashop_cart_button, #hikashop_checkout_login a.hikashop_cart_button:hover{
	float:none;
}

.hikashop_products a.hikashop_cart_button,.hikashop_products a.hikashop_cart_button:hover, #hikashop_checkout_coupon a.hikashop_cart_button,#hikashop_checkout_coupon a.hikashop_cart_button:hover{
	float:none;
	width:100px;
}

#hikashop_button_1 div.hikashop_container,#hikashop_button_2 div.hikashop_container,#hikashop_button_3 div.hikashop_container {
	cursor:pointer;
}
#hikashop_button_1 div.hikashop_subcontainer, #hikashop_button_2 div.hikashop_subcontainer, #hikashop_button_3 div.hikashop_subcontainer,#hikashop_order_listing div.hikashop_subcontainer {
	text-align:center;
}



/* checkout progress bar styles */
.hikashop_cart_bar{
	background: url(../images/line.png) repeat-x scroll 100% 50% transparent;
	padding-bottom:0;
	padding-top:33px;
}
#hikashop_checkout_page div.hikashop_cart_bar{
	text-align:center;
}
#hikashop_checkout_page .hikashop_cart_step.hikashop_cart_step_current {
	-moz-background-inline-policy:continuous;
	background: url("../images/current_step.png") no-repeat scroll 50% 3px transparent;
	color:#363636;
}
#hikashop_checkout_page .hikashop_cart_step.hikashop_cart_step_finished {
	-moz-background-inline-policy:continuous;
	background: url("../images/finished_step.png") no-repeat scroll 50% 3px transparent;
	color:#363636;
}
#hikashop_checkout_page div.hikashop_cart_step span {
	position:relative;
	left:4%;
	width:auto;
}
#hikashop_checkout_page div.hikashop_cart_step span a {
	color:#B2B2B2;
}
#hikashop_checkout_page .hikashop_cart_step.hikashop_cart_step_finished span a {
	color:#363636;
}
.hikashop_cart_step {
	-moz-background-inline-policy:continuous;
	background: url("../images/step.png") no-repeat scroll 50% 3px transparent;
	display:inline;
	padding-top:20px;
	padding-right:8%;
	white-space:nowrap;
}


/* checkout login layout */
.hikashop_checkout_login{
	clear:both;
	width:690px;
	margin:auto;
}
.hikashop_checkout_login_left_part{
	width:250px;
	float:left;
}
.hikashop_checkout_login_right_part{
	width:440px;
	float:left;
}

/* checkout address layout */
.hikashop_checkout_address{
	clear:both;
	width:700px;
	margin:auto;
}
.hikashop_checkout_address_billing_only{
	clear:both;
	width:100%;
	margin:auto;
}
.hikashop_checkout_billing_address{

}
.hikashop_checkout_address_left_part{
	width:350px;
	float:left;
}
.hikashop_checkout_address_right_part{
	width:350px;
	float:left;
}

/* checkout payment names */
.hikashop_checkout_payment_name{
	font-weight: bold;
}

/* checkout shipping names */
.hikashop_checkout_shipping_name{
	font-weight: bold;
}

.hikashop_custom_file_upload_link{
	display:block;
}

.hikashop_red_border { border: 1px solid red; }

/* orders */
.hikashop_orders{
	width:100%;
}
.hikashop_order_listing_status{
	margin-bottom:5px;
	display:block;
}

.hikashop_orders img{
	border:none;
}

.hikashop_order_title{
	text-align:center;
}
.hikashop_order_right_part{
	float:right;
	padding-top:20px;
}

	div.hikashop_paypal_end_image input{
	background: url('https://www.paypal.com/en_US/i/btn/x-click-but6.gif') top left no-repeat;
	width:150px;
	height:52px;
	border:none;
	cursor:pointer;
	}

div.hikashop_alertpay_end_image input{
background: url('https://www.alertpay.com/Images/BuyNow/pay_now_11.gif') top left no-repeat;
width:150px;
height:52px;
border:none;
cursor:pointer;
}

.hikashop_authorize_thankyou{
	text-align:center;
}

.hikashop_address_listing_div{
	width: 300px ;
	margin-left: auto ;
	margin-right: auto ;
}
.hikashop_address_listing_table{
	width:100%;
}
.hikashop_rbottom{clear:both;}
.clear_both{clear:both;}

/* sliders CSS for module categories display */
#pane h3 {margin:0;font-size:110%;letter-spacing:0px;}
.pane-sliders .title {margin:0;padding:5px;color:#666;cursor:pointer;}
.pane-sliders .panel {border:1px solid #ccc;margin-bottom:3px;}
.pane-sliders .panel h3 {background:#f6f6f6;color:#666;}
.pane-sliders .content {background:#ffffff;}
.pane-sliders div.content {padding:0px 10px 10px 10px;}
.jpane-toggler span {background:transparent url(../images/j_arrow.png) 5px 50% no-repeat;padding-left:20px;font-weight:700;}
.jpane-toggler-down span {background:transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;padding-left:20px;font-weight:800;}
.jpane-toggler-down { border-bottom:1px solid #ccc;}

/* customer control panel */
#hikashopcpanel div.icon a {
	border:1px solid #F0F0F0;
	color:#666666;
	display:block;
	float:left;
	text-decoration:none;
	vertical-align:middle;
	width:100%;
}
#hikashopcpanel div.icon:hover a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F9F9F9 none repeat scroll 0 0;
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#0B55C4;
}
#hikashopcpanel div.icon {
	float:left;
	margin-bottom:5px;
	margin-right:5px;
	text-align:center;
	width: 100%;
}
#hikashopcpanel span {
	display:block;
	text-align:center;
}
#hikashopcpanel img {
	margin:0 auto;
	padding:10px 0;
}
.hikashopcpanel{
	width:500px;
	margin:auto;
	margin-top:20px;
}

.hikashop_header_title{ float: left; }
.hikashop_header_buttons{ float: right; }

/* affiliate program */
.hikashop_banner_row:hover{
}

/* icons */
.icon-32-cancel {background-image:url(../images/icons/icon-32-cancel.png);}
.icon-32-back {background-image:url(../images/icons/icon-32-back.png);}
.icon-32-new {background-image:url(../images/icons/icon-32-new.png);}
.icon-32-apply {background-image:url(../images/icons/icon-32-apply.png);}
.icon-32-save {background-image:url(../images/icons/icon-32-save.png);}
.icon-32-print {background-image:url(../images/icons/icon-32-print.png);}
.icon-48-order {background-image:url(../images/icons/icon-48-order.png);}
.icon-48-category {background-image:url(../images/icons/icon-48-category.png);}
.icon-48-user {background-image:url(../images/icons/icon-48-user.png);}
.icon-48-user2 {background-image:url(../images/icons/icon-48-user2.png);}
div.toolbar span {
	display:block;
	float:none;
	height:32px;
	margin:0 auto;
	width:32px;
}
div.toolbar a {
	border:1px solid #FBFBFB;
	cursor:pointer;
	display:block;
	float:left;
	padding:1px 5px;
	text-align:center;
	white-space:nowrap;
}

/* tool-tip */
.tool-tip {
   float: left;
   background-color: #ffc;
   border: 1px solid #D4D5AA;
   padding: 5px;
   max-width: 200px;
}

.tool-title {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: bold;
   margin-top: -15px;
   padding-top: 15px;
   padding-bottom: 5px;
}

.tool-text {
   font-size: 100%;
   margin: 0;
}

/***************************************************************************/
/* Some Messages to display on a popup because the CSS is not fully loaded */
/***************************************************************************/

div.hikashop_messages{
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-top-style:solid;
	border-top-width:2px;
	font-weight:bold;
	margin:5px 10px;
}

.hikashop_messages li{
	list-style-type : none;
}

div.hikashop_warning{
	background-color:#EFE7B8;
	border-bottom-color:#F0DC7E;
	border-top-color:#F0DC7E;
	color:#CC0000;
}

div.hikashop_success{
	background-color:#CCFFBB;
	border-bottom-color:#00AA00;
	border-top-color:#00AA00;
	color:#00AA00;
}

div.hikashop_info{
	background-color:#C3D2E5;
	border-bottom-color:#84A7DB;
	border-top-color:#84A7DB;
	color:#0055BB;
}

div.hikashop_error{
	background-color:#E6C0C0;
	border-bottom-color:#DE7A7B;
	border-top-color:#DE7A7B;
	color:#CC0000;
}
#hikashop_add_to_cart_continue_div{
	float:left;
}

#hikashop_add_to_cart_checkout_div{
	float:right;
}

.hikashop_delete_entry_button{
	float:right;
}

span.hiakshop_AUP_price{
	color: #990000;
	font-weight: bold;
}

span.hikashop_AUP_points{
	color: #2f9900;
	font-weight: bold;
}


/* pagination */
.hikashop_products_pagination, .hikashop_subcategories_pagination{
    color:#167e93;
    font-size:11px;
    text-align:center;
    margin-top:25px;
    clear:both;
    padding-top:20px;
}
.hikashop_products_pagination ul.pagination, .hikashop_subcategories_pagination ul.pagination{
	text-align:center;
}

.hikashop_products_pagination .list-footer .limit, .hikashop_subcategories_pagination .list-footer .limit{
    color:#167e93;
    font-weight:bold;
    margin-bottom:5px;
}

.hikashop_products_pagination .list-footer .limit .inputbox, .hikashop_subcategories_pagination .list-footer .limit .inputbox{
    margin-left:10px;
    border:1px solid #ccc;
    color:#167e93;
 }

.hikashop_products_pagination .list-footer .pagenav, .hikashop_subcategories_pagination .list-footer .pagenav {
    color:#14caec;
    font-weight:bold;
    background-color:#FFF;
    padding-right:5px;
    padding-left:5px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #ccc;
    margin-right : 2px;
    margin-left : 2px;
}
.hikashop_products_pagination .list-footer a.pagenav, .hikashop_subcategories_pagination .list-footer a.pagenav {
    color:#14caec;
    background-color:#FFF;
}

.hikashop_products_pagination .list-footer a.pagenav:hover, .hikashop_subcategories_pagination .list-footer a.pagenav:hover{
    color:#fff;
    background-color:#167e93;
}
.hikashop_products_pagination .list-footer span.pagenav, .hikashop_subcategories_pagination .list-footer span.pagenav {
    color:#fff;
    background-color:#167e93;
}
.hikashop_products_pagination .list-footer span.pagenav_text, .hikashop_subcategories_pagination .list-footer span.pagenav_text{
    display:none;
}

.hikashop_products_pagination .list-footer .counter, .hikashop_subcategories_pagination .list-footer .counter{
    color:#666;
    margin-top:15px;
}

.hikashop_products_pagination .hikashop_results_counter, .hikashop_subcategories_pagination .hikashop_results_counter{
    color:#666;
}



/* facebook and twitter */
#hikashop_social iframe.hikashop_social_fb_standard{
	width:400px;
	height:80px;
}

#hikashop_social iframe.hikashop_social_fb_button_count{
	width:125px;
	height:20px;
}

#hikashop_social iframe.hikashop_social_fb_box_count{
	width:125px;
	height:80px;
}

#hikashop_social{
	position:relative;
	text-align:left;
}

#hikashop_social{
	position:relative;
	text-align:right;
}

#hikashop_social span.hikashop_social_left_fb_tw_none{
	position:relative;
	left:75px;
}

#hikashop_social span.hikashop_social_left_fb_tw_vertical{
	position:relative;
	left:5px;
}

#hikashop_social span.hikashop_social_left_fb_tw_horizontal{
	position:relative;
}
#hikashop_social span.hikashop_social_left_fb__standart_tw_none{
	position:relative;
	margin-left: 100px;
}
#hikashop_social span.hikashop_social_left_fb__standart_tw_none_google{
	position:relative;
	margin-left: 185px;
}
#hikashop_social span.hikashop_social_right_tw_none{
	position:absolute;;
	right:130px;
}

#hikashop_social span.hikashop_social_right_tw_none_fb_standart{
	position: absolute;
	right:420px;
	top:2px
}

#hikashop_social span.hikashop_social_right_tw_horizontal{
	position:absolute;
	right:130px;
}

#hikashop_social span.hikashop_social_right_tw_horizontal_fb_standart{
	position:absolute;
	right:410px;
	top:2px
}

#hikashop_social span.hikashop_social_right_tw_none_fb_box{
	position:absolute;
	right:125px;
}

#hikashop_social span.hikashop_social_right_tw_vertical_fb_standart{
	position:absolute;
	right:415px;
}


#hikashop_social span.hikashop_social_google_right_tw_none_fb_standart{
	position:absolute;
	right:500px;
	top: 2px;
}
#hikashop_social span.hikashop_social_google_right_tw_horizontal_fb_standart{
	position:absolute;
	right:525px;
	top: 2px;
}
#hikashop_social span.hikashop_social_google_right_tw_none{
	position:absolute;
	right:250px;
}
#hikashop_social span.hikashop_social_google_right_tw_vertical{
	position:absolute;
	right:215px;
}
#hikashop_social span.hikashop_social_google_right_fb_box{
	position:absolute;
	right:200px;
}
#hikashop_social span.hikashop_social_google_right_fb_box_tw_vert{
	position:absolute;
	right:220px;
}
#hikashop_social span.hikashop_social_google_left_tw_none_fb_standart{
	position:absolute;
	top: 0px;
}




#hikashop_social span.hikashop_social_left_tw{
	position:relative;
	margin-top:0px;
}

#hikashop_social span.hikashop_social_left_tw_2{
	position:absolute;
	top:2px;
}
#hikashop_social span.hikashop_social_left_tw_2_google{
	position:absolute;
	left:75px;
}
#hikashop_social span.hikashop_social_left_tw_box{
	position:absolute;
	left: 70px;
}
#hikashop_social span.hikashop_social_google_left_tw_fb_box{
	position:absolute;
	left: 135px;
}

#hikashop_social iframe{
	height: 50px !important;
}


.hikashop_option_info{
	margin-left:5px;
}

.hikashop_checkout_cart_print_link{
	float:right;
}

.hikashop_cart_product_quantity_delete, .hikashop_cart_product_quantity_refresh, .hikashop_product_quantity_field{
	float:left;
}

/*Effect on product layout*/
.hikashop_img_pane_panel{
   position: absolute;
   bottom:0px;
   background: rgba(0,0,0,0.8);
   background-color:black\9;
   filter:alpha(opacity=80)\9;
   text-align:center !important;
}

.hikashop_slide_numbers{
   margin:2px;
}

.hikashop_slide_numbers:hover{
   background-color:#0080ff;
   color: white;
}

.hikashop_slide_pagination_selected{
	color:white;
	background-color:#0080ff;
}

.hikashop_pagination_images{
   opacity:0.6;
   display:inline-block\9;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.hikashop_pagination_images:hover{
   opacity:1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.hikashop_pagination_images_selected{
   opacity:1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.hikashop_img_pane_panel{
   position: absolute;
   bottom:0px;
   background: rgba(0,0,0,0.8);
   background-color:black\9;
   filter:alpha(opacity=80)\9;
   text-align:center !important;
}

.hikashop_slide_pagination{
	text-align:center !important;
}

.hikashop_slide_dot_basic{
	background: url("../images/icons/dot_basic.png") no-repeat;
	margin:2px;
	height:13px;
	width:13px;
	display:inline-block;
}

.hikashop_slide_dot_basic:hover{
	background: url("../images/icons/dot_hover.png") no-repeat;
	cursor:pointer;
}

.hikashop_slide_dot_selected, .hikashop_slide_dot_selected:hover{
	background: url("../images/icons/dot_selected.png") no-repeat;
}

.hikashop_pagination_images_block{
	margin:5px;
	display:inline-block;
}


.hiakshop_slider_button{
	opacity:0.5;
}

.hiakshop_slider_button:hover{
	cursor:pointer;
	opacity:1;
}

.hikashop_filter_checkbox{
	white-space: nowrap;
}

a.hikashop_filter_list{
	color:black;
	cursor: pointer;
}

a.hikashop_filter_list_selected:hover {
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.hikashop_filter_fieldset{
	margin-bottom:10px;
}

/*
 * jQuery UI CSS Framework 1.8.15
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*
 * jQuery UI Slider 1.8.15
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; width:250px; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* compare products
----------------------------------*/
.hikashop_compare_table{
	background-color:#fff;
	border:1px solid #ccc;
	padding:10px;
	width:100%;
}
.hikashop_product_custom_name{
	font-weight:bold;
}
.hikashop_product_compare_custom_separator{
	text-align:center;
	height:25px;
}
.hikashop_product_compare_custom_separator td{
	border-bottom:2px solid #ccc;
	text-align:center;
	font-weight:bold;
	height:30px;
}
.hikashop_product_compare_custom_separator .hikashop_product_custom_name label{
	color:#1491A0;
}
.hikashop_compare_page h1{
	color:#666;
	text-align:center;
	font-size:14px;
	border-bottom: 1px dashed #ccc;
	padding:2px;
}
#hikashop_compare_tr_cart .hikashop_compare_cart_prod_column{
	margin-bottom:20px;
	text-align:center;
}
.hikashop_before_taxe{
	font-size:11px;
	font-weight:normal;
}
.hikashop_compare_table .hikashop_product_quantity_field_change{
	margin-right:5px;
}
.hikashop_compare_table .hikashop_product_quantity_field{
	margin-right:5px;
}
.hikashop_compare_details_prod_column{
	padding:10px;
	white-space:normal;
	border-top:1px dashed #ccc;
}
.hikashop_compare_table #hikashop_main_image_thumb_div{
	margin:0px;
	border:none;
}
.hikashop_compare_table #hikashop_main_image{
	display:block !important;
	margin:auto;
}
.hikashop_compare_custom_prod_column{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background-color:#ebf1f1;
	padding-left:10px;
	height:20px;
	text-align:center;
}
.hikashop_compare_custom_prod_column:hover{
	border-bottom:1px solid #ccc;
	background-color:#fff;
}
.hikashop_compare_page .hikashop_product_stock{
	color:#C30;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px dashed #ccc;
}
.hikashop_product_compare_custom_separator .hikashop_product_custom_value{
	color:#1491A0;
}
.hikashop_product_custom_value{
	color:#000;
}
.hikashop_compare_custom_first_column{
	color:#333;
	text-align:center;
	border:1px solid #ccc;
	border-top:0px;
	background-color:#f5f5f5;
}
#hikashop_product_custom_info_main{
	margin-top:20px;
}
#hikashop_product_custom_info_main td{
	border-bottom:1px solid #ccc;
}
#hikashop_product_custom_info_main h4{
	color:#1491A0
}

/* order listing pagination */
#hikashop_order_listing .pagination{
	text-align:center;
	font-size:11px;
	padding-top:20px;
}
.list-footer .limit{
	color:#44646D;
	font-weight:bold;
	margin-bottom:10px;
}
.list-footer span.pagenav, .hikashop_subcategories_pagination .list-footer span.pagenav{
	background-color:#f5f5f5;
	color:#333;
	padding:2px 4px 2px 4px;
	border:1px solid #ccc;
}
.list-footer a.pagenav:hover, .hikashop_subcategories_pagination .list-footer a.pagenav:hover{
	background-color:#fff;
	text-decoration:none;
}
.list-footer a.pagenav, .hikashop_subcategories_pagination .list-footer a.pagenav{
	background-color:#d7e0e0;
	color:#333;
	padding:2px 4px 2px 4px;
	border:1px solid #ccc;
}
.counter{
	color:#44646D;
	padding-top:5px;
	padding-bottom:5px;
}
.pagination .inputbox{
	border:1px solid #ccc;
}
