.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}.qmmc .qmdividery{float:left;width:0px;}.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}.qmclear {font-size:1px;height:0px;width:0px;clear:left;line-height:0px;display:block;float:none !important;}.qmmc {position:relative;zoom:1;z-index:10;}.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}.qmsh div a {float:left;}.qmmc div{visibility:hidden;position:absolute;}.qmmc li {z-index:auto;}.qmmc ul {left:-10000px;position:absolute;z-index:10;}.qmmc, .qmmc ul {list-style:none;padding:0px;margin:0px;}.qmmc li a {float:none}.qmmc li:hover>ul{left:auto;}#qm0 ul {top:100%;}#qm0 ul li:hover>ul{top:0px;left:100%;}

	#qm0 a	
	{	
		padding:5px 4px 5px 5px;
		color:#555555;
		font-family:Arial;
		font-size:13px;
		text-decoration:none;
	}

	#qm0 div, #qm0 ul	
	{	
		padding:10px;
		margin:-2px 0px 0px 0px;
		background-color:transparent;
		border-style:none;
	}

	#qm0 div a, #qm0 ul a	
	{	
		padding:3px 29px 3px 20px;
		background-color:transparent;
		font-size:13px;
		border-width:0px;
		border-style:none;
	}


	#qm0 div a:hover, #qm0 ul a:hover	
	{	
		background-color:#DADADA;
		color:#CC0000;
	}
	
	#qm0 a:hover
	{	
		color:#CC0000;
	}


	body #qm0 div .qmactive, body #qm0 div .qmactive:hover	
	{	
		background-color:#DADADA;
		color:#CC0000;
	}


	#qm0 .qmtitle	
	{	
		cursor:default;
		padding:3px 0px 3px 4px;
		color:#444444;
		font-family:arial;
		font-size:11px;
		font-weight:bold;
	}


	#qm0 .qmdividerx	
	{	
		border-top-width:1px;
		margin:4px 0px 4px 0px;
		border-color:#BFBFBF;
	}

	#qm0 .qmdividery	
	{	
		border-left-width:1px;
		height:15px;
		margin:4px 1px 0px 1px;
		border-color:#AAAAAA;
	}

	#qm0 .qmritem span	
	{	
		border-color:#DADADA;
		background-color:#F7F7F7;
	}


	#qm0 .qmritemcontent	
	{	
		padding:0px 0px 0px 4px;
	}

.qmfv{visibility:visible !important;}.qmfh{visibility:hidden !important;}
